<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.yasuaki640.magic-mouse-swipe</string>

    <key>ProgramArguments</key>
    <array>
      <string>{{ .chezmoi.homeDir }}/.local/src/magic-mouse-swipe/magic-mouse-swipe</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>

    <key>ProcessType</key>
    <string>Interactive</string>

    <key>StandardOutPath</key>
    <string>/tmp/magic-mouse-swipe.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/magic-mouse-swipe.err</string>
  </dict>
</plist>
