<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.yasuaki640.aerospace-swipe-mini</string>

    <key>ProgramArguments</key>
    <array>
      <string>{{ .chezmoi.homeDir }}/.local/src/aerospace-swipe-mini/aerospace-swipe-mini</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>

    <key>ProcessType</key>
    <string>Interactive</string>

    <key>StandardOutPath</key>
    <string>/tmp/aerospace-swipe-mini.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/aerospace-swipe-mini.err</string>
  </dict>
</plist>
